.homepage {
  height: 100vh;
  max-width: 60%;
  margin: auto;
  background-color: #fff;
}

.card-section {
  display: flex;
  gap: 2rem;
  margin: 2rem;
  justify-content: space-around;
}

.card {
  min-height: 40vh;
  width: 35%;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #f3f4f6;
}

.card__doctor {
  background-image: url("https://cdn-icons-png.flaticon.com/512/3774/3774299.png");
}

.card__patient {
  background-image: url("https://cdn-icons-png.flaticon.com/512/1430/1430453.png");
}

.selected {
  background-color: #007acc;
  color: #fff;
}
